{% extends 'general_templates/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Signup{% endblock %}
{% block body_content %}
<div class='container' align="center">
    <div class='row'>
        <h1 align="center">Signup</h1>
        <form action="{% url 'account:signup' %}" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <center>
                <button type="submit" class="btn btn-success">Signup</button>
                OR
                <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
            </center>
        </form>
    </div>
</div>
{% endblock %}