{% extends 'general_templates/base.html' %}

{% block title %}Directors List{% endblock %}
{% block body_content %}
<h1 align="center">Directors List</h1>

<table class="table table-bordered table-hover" style="color: white;">
    <thead align="center" style="color: green; font-weight: bold; font-size: larger;">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Profile Picture</th>
            <th><a class="btn btn-success" href="{% url 'director:create' %}">Add Director</a></th>
        </tr>
    </thead>
    <tbody>
        {% for director in directors %}
        <tr>
            <td>{{ director.id }}</td>
            <td>{{ director|title }}</td>
            <td>{{ director.gender }}</td>
            <td>
                <center>
                    <img height="20%" width="20%" src="{{request.scheme}}://{{request.get_host}}{{director.profile_pic.url}}">
                </center>
            </td>
            <td>
                <center>
                    <a href="{% url 'director:details' director.id %}" class="btn btn-info">View</a>
                    <a href="{% url 'director:update' director.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'director:delete' director.id %}" class="btn btn-danger">Delete</a>
                </center>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}