
{% extends 'general_templates/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Director Update{% endblock %}
{% block body_content %}

<h1 align="center">Add Director</h1>

<form action="{% url 'director:update' director.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}
    <center>
        <button type="submit" class="btn btn-success">Edit</button>
        <a href="{% url 'director:list' %}" class="btn btn-secondary">Back</a>
    </center>
</form>
{% endblock %}