{% extends 'general_templates/base.html' %}

{% block title %}Actor details{% endblock %}

{% block body_content %}
<div class="card my-3" style="color: black;">
    <h5 class="card-header">Actor Info</h5>
    <div class="card-body">
        <img height="20%" width="20%" src="{{request.scheme}}://{{request.get_host}}{{actor.profile_pic.url}}">
        <div>
            <span style="font-size: 1.2rem; font-weight: bold">Name: </span>
            <p class="card-text">{{actor.name | title}}</p>
        </div>
        <div>
            <span style="font-size: 1.2rem; font-weight: bold">Gender: </span>
            <p class="card-text">{{actor.gender}}</p>
        </div>
    </div>
    <a href="{% url 'actor:list' %}" class="btn btn-secondary">Back Home</a>
</div>
{% endblock %}