
{% extends 'general_templates/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Add Actor{% endblock %}
{% block body_content %}

<h1 align="center">Add Actor</h1>

<form action="{% url 'actor:create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}
    <center>
        <button type="submit" class="btn btn-success">Create</button>        
        <a href="{% url 'actor:list' %}" class="btn btn-secondary">Back</a>
    </center>
</form>
{% endblock %}